In [1]:

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('Batsman_Data.csv')
df.head()

,Unnamed: 0,Bat1,Runs,BF,SR,4s,6s,Opposition,Ground,Start Date,Match_ID,Batsman,Player_ID
0,1,DNB,-,-,-,-,-,v India,Nagpur,18 Dec 2009,ODI # 2933,Oshane Thomas,49619
1,2,DNB,-,-,-,-,-,v India,Kolkata,24 Dec 2009,ODI # 2935,Oshane Thomas,49619
2,3,DNB,-,-,-,-,-,v India,Delhi,27 Dec 2009,ODI # 2936,Oshane Thomas,49619
3,4,DNB,-,-,-,-,-,v Bangladesh,Dhaka,4 Jan 2010,ODI # 2937,Oshane Thomas,49619
4,5,DNB,-,-,-,-,-,v India,Dhaka,5 Jan 2010,ODI # 2938,Oshane Thomas,49619

In [2]:
len(df)

11149

In [3]:
print(df.isnull().sum())

Unnamed: 0    0
Bat1          0
Runs          0
BF            0
SR            0
4s            0
6s            0
Opposition    0
Ground        0
Start Date    0
Match_ID      0
Batsman       0
Player_ID     0
dtype: int64

In [4]:
# Remove unwanted rows
df['Bat1'] = df['Bat1'].replace('DNB', 0)
df = df[df['Bat1'] != 'TDNB']
df = df[df['Bat1'] != 'sub']
df = df[df['Bat1'] != 'absent']
df['Bat1'] = df['Bat1'].str.replace('*', '')

# Remove NaN values
df = df.dropna(subset=['Bat1'])

# Convert Bat1 column to integer type
df['Bat1'] = df['Bat1'].astype(int)

C:\Users\HARSH\AppData\Local\Temp\ipykernel_16520\2552841151.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Bat1'] = df['Bat1'].str.replace('*', '')

In [5]:
df["Bat1"].unique()

array([  0,   1,   2,   4,   3,   7,   8,  10,  20,  26,  23,  11,   5,
        12,  49,  92,  25,  22,  40,  29,  53,  37,  34,  41,  42,  59,
         9,  43,  18,   6,  46,  19,  16,  64,  24,  27,  13,  14,  15,
        21,  44,  31, 148,  47,  33,  35, 176,  76,  66,  17, 101,  71,
        48,  81,  51,  72,  32, 123,  95, 146, 108, 170, 109,  30,  87,
        74, 127,  36,  38,  52, 125, 106,  94, 104,  28,  45,  39,  79,
        73,  67,  86,  60, 100,  55,  70,  54,  50, 124, 102,  61,  58,
       152,  85,  62,  84, 103, 140, 119, 153, 112, 132,  99,  82, 133,
       110, 113, 122, 135,  80,  57,  88,  63, 215, 162,  77,  56,  68,
        78,  69,  65, 116,  89, 139,  90,  75,  93, 111,  97, 129, 150,
       115, 130, 138, 118, 117,  98, 159, 154, 128, 107, 178, 168,  83,
       121, 126,  96, 105, 185,  91, 120, 136, 151, 114, 210, 143, 131,
       181, 137, 189, 237, 180, 145, 183, 134, 141, 209, 264, 171, 147,
       208, 160, 157, 144, 163, 173, 156, 179, 149, 164])

In [6]:
df.dtypes

Unnamed: 0     int64
Bat1           int32
Runs          object
BF            object
SR            object
4s            object
6s            object
Opposition    object
Ground        object
Start Date    object
Match_ID      object
Batsman       object
Player_ID      int64
dtype: object

In [7]:
import pandas as pd

# Replace unwanted elements with NaN
df['SR'] = pd.to_numeric(df['SR'], errors='coerce')

# Fill NaN with 0
df['SR'] = df['SR'].fillna(0)

# Convert to int
df['SR'] = df['SR'].astype(int)

In [8]:

df["SR"]

5         0
6         0
9        33
10        0
11        0
         ..
11142     0
11143    32
11144    75
11145    50
11146    12
Name: SR, Length: 8918, dtype: int32

In [9]:
df

,Unnamed: 0,Bat1,Runs,BF,SR,4s,6s,Opposition,Ground,Start Date,Match_ID,Batsman,Player_ID
5,6,0,0,8,0,0,0,v India,Dhaka,10 Jan 2010,ODI # 2941,Oshane Thomas,49619
6,7,0,0,0,0,0,0,v England,The Oval,28 Jun 2011,ODI # 3165,Oshane Thomas,49619
9,10,1,1,3,33,0,0,v England,Nottingham,6 Jul 2011,ODI # 3169,Oshane Thomas,49619
10,11,0,0,2,0,0,0,v Australia,Pallekele,10 Aug 2011,ODI # 3175,Oshane Thomas,49619
11,12,0,0,2,0,0,0,v Pakistan,Dubai (DSC),11 Nov 2011,ODI # 3212,Oshane Thomas,49619
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11142,11143,0,0,2,0,0,0,v Bangladesh,Abu Dhabi,23 Sep 2018,ODI # 4045,Gulbadin Naib,352048
11143,11144,15,15,46,32,1,0,v India,Dubai (DSC),25 Sep 2018,ODI # 4046,Gulbadin Naib,352048
11144,11145,46,46,61,75,6,1,v Ireland,Dehradun,28 Feb 2019,ODI # 4100,Gulbadin Naib,352048
11145,11146,3,3,6,50,0,0,v Ireland,Dehradun,2 Mar 2019,ODI # 4101,Gulbadin Naib,352048
11146,11147,1,1,8,12,0,0,v Ireland,Dehradun,8 Mar 2019,ODI # 4108,Gulbadin Naib,352048

In [10]:
df1=pd.get_dummies(df[["Opposition","Ground","Start Date","Match_ID","Batsman"]])

In [11]:
df=pd.concat([df,df1],axis='columns')

In [12]:
df

,Unnamed: 0,Bat1,Runs,BF,SR,4s,6s,Opposition,Ground,Start Date,...,Batsman_Tamim Iqbal,Batsman_Thisara Perera,Batsman_Tim Southee,Batsman_Tom Curran,Batsman_Tom Latham,Batsman_Trent Boult,Batsman_Usman Khawaja,Batsman_Vijay Shankar,Batsman_Virat Kohli,Batsman_Yuzvendra Chahal
5,6,0,0,8,0,0,0,v India,Dhaka,10 Jan 2010,...,0,0,0,0,0,0,0,0,0,0
6,7,0,0,0,0,0,0,v England,The Oval,28 Jun 2011,...,0,0,0,0,0,0,0,0,0,0
9,10,1,1,3,33,0,0,v England,Nottingham,6 Jul 2011,...,0,0,0,0,0,0,0,0,0,0
10,11,0,0,2,0,0,0,v Australia,Pallekele,10 Aug 2011,...,0,0,0,0,0,0,0,0,0,0
11,12,0,0,2,0,0,0,v Pakistan,Dubai (DSC),11 Nov 2011,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11142,11143,0,0,2,0,0,0,v Bangladesh,Abu Dhabi,23 Sep 2018,...,0,0,0,0,0,0,0,0,0,0
11143,11144,15,15,46,32,1,0,v India,Dubai (DSC),25 Sep 2018,...,0,0,0,0,0,0,0,0,0,0
11144,11145,46,46,61,75,6,1,v Ireland,Dehradun,28 Feb 2019,...,0,0,0,0,0,0,0,0,0,0
11145,11146,3,3,6,50,0,0,v Ireland,Dehradun,2 Mar 2019,...,0,0,0,0,0,0,0,0,0,0
11146,11147,1,1,8,12,0,0,v Ireland,Dehradun,8 Mar 2019,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df = df.drop(["Opposition","Ground","Start Date","Match_ID","Batsman"], axis=1)

In [41]:
df

,Unnamed: 0,Bat1,Runs,BF,SR,4s,6s,Player_ID,Opposition_v Afghanistan,Opposition_v Africa XI,...,Batsman_Tamim Iqbal,Batsman_Thisara Perera,Batsman_Tim Southee,Batsman_Tom Curran,Batsman_Tom Latham,Batsman_Trent Boult,Batsman_Usman Khawaja,Batsman_Vijay Shankar,Batsman_Virat Kohli,Batsman_Yuzvendra Chahal
5,6,0,0,8,0,0,0,49619,0,0,...,0,0,0,0,0,0,0,0,0,0
6,7,0,0,0,0,0,0,49619,0,0,...,0,0,0,0,0,0,0,0,0,0
9,10,1,1,3,33,0,0,49619,0,0,...,0,0,0,0,0,0,0,0,0,0
10,11,0,0,2,0,0,0,49619,0,0,...,0,0,0,0,0,0,0,0,0,0
11,12,0,0,2,0,0,0,49619,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11142,11143,0,0,2,0,0,0,352048,0,0,...,0,0,0,0,0,0,0,0,0,0
11143,11144,15,15,46,32,1,0,352048,0,0,...,0,0,0,0,0,0,0,0,0,0
11144,11145,46,46,61,75,6,1,352048,0,0,...,0,0,0,0,0,0,0,0,0,0
11145,11146,3,3,6,50,0,0,352048,0,0,...,0,0,0,0,0,0,0,0,0,0
11146,11147,1,1,8,12,0,0,352048,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
df.replace('*', np.nan, inplace=True)

In [43]:
from sklearn.model_selection import train_test_split
X = df.drop('Runs', axis=1)
y = df['Runs']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [44]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [45]:
from sklearn.metrics import r2_score

y_pred = model.predict(X_test)

r2 = r2_score(y_test, y_pred)

print("R-squared:", r2)

R-squared: 1.0

In [46]:
model.score(X_test, y_test)

1.0